<!-- templates/main.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="text" id="sec-1">
        <h1><span> Welcome To The Tales Of Africa</span></h1>
	<p>Explore the vibrant history of Africa through captivating stories. Each tale is a journey, each page a chapter in the epic story of a remarkable continent.</p>
    </div>
    <div class="text" id="sec-2">
	<h1><span>Discover Ancient Stories</span></h1>
	<p>Unearth the past with stories from across Africa. From the empires of Mali and Ghana to the vibrant cultures of East Africa.</p>
    </div>
    <div class="text" id="sec-3">
	<h2 class="text">We are more than a library. We are a gateway to the past!!!</h2>

    </div>
    <div class="image-container">
        <!--    <img src="{% static 'africanlibrary/images/thumb_MapAfricaSize.webp' %}" alt="thumbnail" class="centered-image"> -->
    </div>
    <!-- Add more content as needed -->
{% endblock %}
