<!-- templates/stories.html -->
{% extends 'base.html' %}

{% block content %}
    <!-- Your additional content goes here -->
    <div class="story-container">
        {% for story in stories %}
            <div class="story">
                <h3>{{ story.title }}</h3>
                <p class="preview-content">{{ story.content|slice:":150" }}...</p>
                <div class="story-content">{{ story.content }}</div>
                <div class="author-info">
                    <span>By {{ story.author }}</span>
                    <span>{{ story.published_date }}</span>
                </div>
                <div class="read-more" data-story-id="{{ story.id }}">Read more</div>
            </div>
        {% endfor %}
    </div>

    <footer>
        &copy; 2023 African Library. All rights reserved.
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.read-more').click(function() {
                var storyId = $(this).data('story-id');
                window.location.href = '/stories/' + storyId + '/';
            });
        });
    </script>
{% endblock %}
